// Colors
//main background color
$clr1: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);

// text color 
$clr2: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
$clr3: #bababa;
$clr4: #f9f9f9;
$clr5: #1d52cf;
$clr6: #4033fc;
$clr7: #595959;
$clr8: #fbd829;
$clr9: #fb2e68;
$clr10: #ffffff;
$clr11: #8acf6a;
$clr12: #2a4c7a;









//old colors
// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;
// $clr7: #222;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 1160px;
$normal-breakpoint: 1400px;

// Old Break points
// 1- 720
// 2 - 460